.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


.machine {
  border: solid black 2px;
  // background-color: #303030;
  border-radius: 10px 10px;
  margin: 5vw;
  padding: 2%;

  .controlPanel {
    height: 20rem;
    width: 100%;
    background-color: darkslategrey;
    border-radius: 10px 10px 0 0;
  }

  .powerSwitch {
    padding: 1rem;
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
    border: 1px solid rgb(0, 217, 255);  
    background-color: black; 
    color: rgb(0, 217, 255); 
    font-size: 2rem;

  }


  .beatGrid {
    padding: 5%;
    border-radius: 0 0 10px 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #303030;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;

    @include mediaQ(tablet) {
      padding: 3%;
    }
  }
}


// .pad::before {
//   background: white;
// }

.pad {
  height: 20rem;
  width: 20rem;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 5%;
  list-style: none;
  box-shadow: (0 2px 1px 2px black, inset 0px 1px 1px rgba(0, 0, 0, 0.7), inset 0 1px 1px rgba(0, 0, 0, 0.9), 0 0 0 black);
  transition: all 100ms;
  position: relative;
}


.padActive {
  top: 2px;
  box-shadow: (0 0 0 1px black, inset 0px 0 1px rgba(0, 0, 0, 0.7), inset 0 0 1px rgba(0, 0, 0, 0.9), 0 0 0 black);
  // inner shadow idea from: https://codepen.io/wallas/pen/lFABr
  background: radial-gradient(ellipse at center, #CDFFD8, #469DFF);
}